/* HEADER */
.header__top {
    background: #111111;
    padding: 5px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.header__top .header__top__left {
    color: #ffffff;
    margin-bottom: 0;
    text-align: left;
}

.header__top .header__top__right {
    text-align: right;
}

.header__top .header__top__links {
    display: inline-block;
}

.header__top .header__top__links a {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 28px;
    display: inline-block;
    text-decoration: none;
}

.header__top .header__top__links a:last-child {
    margin-right: 0;
}

/* Parte Inferior del Header */
.header__bottom {
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Espacia los elementos entre sí */
    align-items: center; /* Centra verticalmente los elementos */
    background-color: #fff;
    padding: 20px 20px; /* Agrega padding horizontal */
    position: relative;
}

.header__logo {
    flex: 1; /* Ocupa el espacio necesario */
}

.header__logo img {
    max-width: 100px;
    height: auto;
}

.header__menu {
    position: absolute; /* Posiciona el menú absolutamente */
    left: 50%; /* Mueve el menú al centro */
    transform: translateX(-50%); /* Ajusta el centrado */
    background-color: #fff;
}

.header__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__menu ul li {
    margin: 0 15px;
}

.header__menu ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px; 
}

.header__menu ul li a:hover {
    text-decoration: underline;
}

.canvas__open {
    display: none; 
}



/* END HEADER */

/* FOOTER */
.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__logo {
    flex: 1;
}

.footer__logo img {
    max-width: 150px;
    height: auto;
}

.footer__social {
    flex: 2;
    text-align: center;
}

.footer__social h6 {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social ul li {
    margin-bottom: 10px;
}

.footer__social ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer__social ul li a:hover {
    text-decoration: underline;
}

.footer__description {
    flex: 2;
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer__copyright__text {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0;
    margin-top: 40px;
    text-align: center;
}

.footer__copyright__text p {
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer__copyright__text p i {
    color: #e53637;
}

.footer__copyright__text p a {
    color: #e53637;
}

/* END FOOTER */

/* INDEX */

.latest.spad .container {
    max-width: 1000px; /* Ajusta el tamaño máximo del contenedor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
  }

/* Estilo para el carrusel */
.section-title {
    margin-bottom: 30px;
  }
  
  .section-title span {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .section-title h2 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  .carousel img {
    width: 100%;
    height: 550px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Mantiene las proporciones de la imagen y la recorta si es necesario */
}
  
  .card {
    border: none;
  }
  
  .card-body {
    padding: 1rem;
  }

  .blog__item__pic img,
.instagram__pic__item img {
    width: 100%;
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Mantiene las proporciones de la imagen y la recorta si es necesario */
}
  

  .instagram__pic {
    display: flex;
    flex-wrap: wrap;
  }
  
  .instagram__pic__item {
    flex: 1 1 calc(33.333% - 10px);
    margin: 0px;
  }

  .instagram.spad .container {
    max-width: 1000px; /* Ajusta el tamaño máximo del contenedor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor */
  }
  
  .instagram__pic__item img {
    width: 100%;
    height: 175px; /* Puedes ajustar la altura según tus necesidades */
    object-fit: cover; /* Mantiene las proporciones de la imagen y la recorta si es necesario */
}
  
  .instagram__text {
    padding: 20px;
    text-align: justify;
  }
  
  .btn-dark {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
  }
  
  .btn-dark:hover {
    background-color: #333;
  }
  

/* END INDEX */

/* REGISTER */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: 600;
}

.form-group input {
    width: 100%;
}

.site-btn {
    background-color: #313030;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
}

.site-btn:hover {
    background-color: #333;
}

.container_register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* END REGISTER */

/* LOGIN */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-form .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .login-form label {
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
  }
  
  .login-btn {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .recover-btn {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .recover-btn:hover {
    background-color: #333;
  }
  
  .register-link {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
  
/* END LOGIN */

/* ADMIN */

/* INDEX */
/* Estilos específicos para Admindex */
.admin-container {
  font-family: 'Arial', sans-serif; /* Mantener el tipo de letra */
}

.border-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.cart__total h2, .cart__total h5 {
  text-align: center;
}

.cart__total ul {
  list-style: none;
  padding: 0;
}

.cart__total ul li {
  font-size: 16px; /* Ajustar tamaño de letra */
  color: #000; /* Color negro */
  text-decoration: none; /* Sin subrayado */
}

.cart__total ul li a {
  text-decoration: none;
  color: #000; /* Color negro */
}

.cart__total ul li a:hover {
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.primary-btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.quick-access-list li {
  margin-bottom: 10px;
}

/* END INDEX */

/* NEW HALL */
.text-center-btns {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los botones */
}

/* END NEW HALL */

/* END ADMIN */

/* CLIENT */

/* Clshalls.css */
.clshalls .shop {
  padding-top: 50px;
  padding-bottom: 50px;
}

.clshalls .shop__product__option {
  margin-bottom: 20px;
}

.clshalls .product__item {
  cursor: pointer;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.clshalls .product__item:hover {
  transform: scale(1.05);
}

.clshalls .product__item__pic img {
  width: 100%;
  height: auto;
}

.clshalls .product__item__text {
  text-align: center;
  padding: 15px 0;
}

.clshalls .product__item__text h6,
.clshalls .product__item__text h5 {
  margin: 10px 0;
}

.clshalls .product__color__select {
  margin-top: 10px;
}

.clshalls .add-cart {
  display: block;
  margin-top: 15px;
  text-align: center;
  background-color: #5a5a5a;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.clshalls .add-cart:hover {
  background-color: #333;
}

/* CLSHALL*/

.clshall-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-media .hall-image {
    max-width: 500px;
    padding: 100px;
    height: auto;
    display: block;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.columns input[type="date"],
.columns input[type="time"] {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* END CLIENT */

/* RENTAL */

.radio-input {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background 0.2s, border-color 0.2s;
}

.radio-input:checked::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radio-input:hover {
    border-color: #000000;
}
/* END RENTAL */